/* ****** */
/* BASICS */
/* ****** */



*, ::before, ::after {
	box-sizing: border-box;
	font-family: 'Saira', sans-serif;

    margin: 0;
    padding: 0;
}



:root {
    --colour-huisstyle-White: #FFFFFF;
    --colour-huisstyle-DarkPurlpe: #1E152B;
    --colour-huisstyle-Purple: #271748;
    --colour-huisstyle-Blue: #88C1C8;
}



/* **** */
/* BODY */
/* **** */



body {
    background: linear-gradient(144.427deg, var(--colour-huisstyle-DarkPurlpe) 0%, var(--colour-huisstyle-Purple) 81%);
    color: var(--colour-huisstyle-White);
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.6em;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;

    height: 8em;
    width: 100%;
    padding: 2em 8em;
    align-items: baseline;
}

button {
    color: var(--colour-huisstyle-White);
    background: none;
	border: none;
    border-radius: 1em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 2em;
    width: 4em;
}

header > nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1em;
}

header > nav > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

svg {
    height: 1.5em;
    width: 1.5em;
}

#arrow-icon path {
    stroke: var(--colour-huisstyle-Blue);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.profile-button {
    height: 2.5em;
    width: 2.5em;
    
    border: 0.25em solid var(--colour-huisstyle-Blue);
    border-radius: 2em;
}

main {
    height: 100vh;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-padding-top: 50px;
    padding: 3em 0 1em;
}

section {
    height: 100%;
    scroll-snap-align: start;
    padding: 5em 0 1em;
}

section:nth-child(n+2) {
    padding: 0 8em;
}



/* *********** */
/* Section One */
/* *********** */



section:nth-of-type(1) {
    display: flex;
    flex-direction: row;

    height: 25vh;
    height: 25dvh;
}

.line-group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: -1em;
    margin-right: -10em;
    padding-top: 3.5em;
}

.line-1 {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 60em;
}

.line-2 {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 40em;
}

.line-3 {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 30em;
}

.line-4 {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 20em;
}


/* *********** */
/* Intro Text */
/* *********** */


hgroup {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

hgroup > p {
    font-size: 1em;
    width: 60%;
}

hgroup h2 {
    font-size: 2em;
    font-weight: 600;
}

.balk-1 {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 12em;
}

.categorie {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.balk-2 {
    background-color: var(--colour-huisstyle-Blue);
    height: .2em;
    width: 1.2em;
}



/* *********** */
/* Section Two */
/* *********** */



section:nth-of-type(2) {
    display: flex;
    flex-direction: column;

    gap: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
}

section:nth-of-type(2) > nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
    height: 20em;
}


/* *************** */
/* Schade-objecten */
/* *************** */


.schade-objecten {
    display: flex;
    flex-direction: column;
}

.schade-objecten > li {
    font-size: 1.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

ul:nth-of-type(1) li > button {
    width: 6em;
    text-align: left;
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: var(--colour-huisstyle-Blue);
}


/* ************* */
/* Schade-levels */
/* ************* */


.schade-levels {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

ul:nth-child(n+2) li > button {
    width: 12em;
    text-align: left;
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-decoration-color: var(--colour-huisstyle-Blue);
}


/* ****************************************** */
/* Lichtenmasten met beschadeging in Den Haag */
/* ****************************************** */

.map-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100%;
}

.map {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 2em;
}


iframe {
    width: 70%;
    height: 100%;
    border: none;
}

#my_dataviz {
    width: 30%;
    height: 50%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
}


/* ***************** */
/* Gradering-Systeem */
/* ***************** */


section:nth-of-type(3) {
    padding-top: 4em;
}

article div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

article div figure {
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    gap: 1em;
    width: 20em;
    padding: 2em 0;
}

figcaption:nth-child(even) {
    font-size: 1.4em;
    font-weight: 100;
}

figcaption:nth-child(odd) {
    font-size: 1.6em;
    font-weight: 600;
}

.description {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

article div figure img {
    width: 20em;
    border-radius: 1em;
}

article div figure p {
    width: 100%;
}

.long-description {
    height: 3.5em;
}

.bottom-bar {
    background-color: var(--colour-huisstyle-Blue);
    height: .25em;
    width: 50%;
}